@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #444;
}

.App {
    background: #edfae2;
    min-height: 100vh;
}

.links {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.links.botao {
    padding: 0.25rem 1.5rem;
    text-align: center;
    margin: auto;
} 

.Linha {
    margin-bottom: 1rem;
}